In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
DOinside=pd.read_excel('../data/oksygen/fornes2_excel_oksygen_Sal_330.xlsx', [0,1,2,3,4,5,6,7,8,9,10], usecols = [1,3,5,10,12,17,19,24,26], index_col = 0)
DOinside[0].columns = ['P1m3Temp', 'P1m3DO', 'P1m6Temp', 'P1m6DO', 'P1m9Temp', 'P1m9DO', 'P1m12Temp', 'P1m12DO']

DOinside[1].columns = ['P4m3Temp', 'P4m3DO', 'P4m6Temp', 'P4m6DO', 'P4m9Temp', 'P4m9DO', 'P1m12Temp', 'P1m12DO']
DOinside[1].drop(['P1m12Temp', 'P1m12DO'], axis=1, inplace=True)

DOinside[2].columns = ['P5m3Temp', 'P5m3DO', 'P5m6Temp', 'P5m6DO', 'P5m9Temp', 'P5m9DO', 'P1m12Temp', 'P1m12DO']
DOinside[2].drop(['P1m12Temp', 'P1m12DO'], axis=1, inplace=True)

DOinside[3].columns = ['P6m3Temp', 'P6m3DO', 'P6m6Temp', 'P6m6DO', 'P6m9Temp', 'P6m9DO', 'P1m12Temp', 'P1m12DO']
DOinside[3].drop(['P1m12Temp', 'P1m12DO'], axis=1, inplace=True)

for key, frame in DOinside.items():
    frame.index.name = 'Timestamp'
    #frame.rename(columns={'Cat32DisOxySaturated': 'DO32', 'Cat21DisOxySaturated': 'DO21', 'Cat33DisOxySaturated': 'DO33', 'Cat11DisOxySaturated': 'DO11'}, inplace=True)

In [3]:
DO58x = pd.read_excel('../data/oksygen/AADI_DO_Fornes_V2.xlsx', 3, usecols = [0,2,3,6,7,10,11], header=1)
DO58x.columns = ['Timestamp','NorthDO', 'NorthTemp', 'SouthOutsideDO', 'SouthOutsideTemp', 'SouthDO','SouthTemp']
DO58x['Timestamp'] =DO58x['Timestamp'].apply(lambda t: t.replace(second=0))
DO58x.set_index('Timestamp', inplace=True)

In [4]:
tide = pd.read_excel('../data/oksygen/AADI_DO_Fornes_V2.xlsx', 6, usecols = [0,1], header=0)
tide.columns = ['Timestamp','TideLevel']
tide['Timestamp'] =tide['Timestamp'].apply(lambda t: t.replace(second=0))
tide.set_index('Timestamp', inplace=True)

In [5]:
DO31 = pd.read_excel('../data/oksygen/AADI_DO_Fornes_V2.xlsx', 5, usecols = [0,2,4])
DO31.columns = ['Timestamp','Temp', 'DO']
DO31['Timestamp'] = DO31['Timestamp'].apply(lambda t: t.replace(second=0))
DO31.set_index('Timestamp', inplace=True)

In [17]:
DOinside[2].head()
#DO31.head()
#tide.head()
#DO58x.head()
#df[0].describe()

,P5m3Temp,P5m3DO,P5m6Temp,P5m6DO,P5m9Temp,P5m9DO
Timestamp,,,,,,
2019-07-04 11:45:00,10.113,80.406928,10.133,77.840881,10.140,85.346636
2019-07-04 11:46:00,10.113,79.838430,10.151,78.042756,10.158,82.483907
2019-07-04 11:47:00,10.140,79.533607,10.133,80.293682,10.149,83.773333
2019-07-04 11:48:00,10.122,79.979719,10.114,81.306001,10.176,84.404748
2019-07-04 11:49:00,10.122,80.121874,10.169,85.938506,10.158,85.284945

In [7]:
for key, frame in df.items():
    frame.plot(y='DO31')

NameError: name 'df' is not defined

Plot of hourly median DO inside and outside of cage.

In [ ]:
fig, axes = plt.subplots(nrows=2, ncols = 3)
i = 0
for key, frame in df.items():
    if key == 3:
        i = 1
    #frame.plot(y='Cat32DisOxySaturated', ax = axes[i,key])

In [ ]:
dfc = pd.concat(df)
dfc.columns
df[0].boxplot(column=['DO32', 'DO21', 'DO33', 'DO11', 'DO31'])
#df[0].boxplot(column=['DO32', 'DO21', 'DO33', 'DO11', 'DO31'])

In [ ]:
DO31.plot(x='Timestamp',y='DO', kind='scatter')